passphrase.txt
.DS_STORE
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.pyc
*.ncb
*.log
*.DS_Store
[Tt]humbs.db
_ReSharper.*
*.resharper
Ankh.NoLoad
sign/*
.csproj.user
.idea/
packages/*/
.env/
nosetests.xml
TestResult.xml
applicationhost.config
.vs/
build/Debug/*
build/Release/*
