<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="Environment" value="DEV" />
  </appSettings>
  
  <runtime>
    <!--Enable long paths on Windows 10 https://blogs.msdn.microsoft.com/jeremykuhne/2016/07/30/net-4-6-2-and-long-paths-on-windows-10/ -->
    <!--todo: add app manifest with "longPathAware=true"-->
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false;Switch.CoreData.SkipAppRegistration=false" />
    <!--other AppSwitches: -->
    <!-- https://blogs.msdn.microsoft.com/dotnet/2017/09/21/net-framework-4-7-1-accessibility-and-wpf-improvements/ -->

    
    <!--https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.taskscheduler.unobservedtaskexception?view=netframework-4.7.2-->
    <!--Set it in code for DEBUG ONLY-->
    <ThrowUnobservedTaskExceptions enabled="true"/>

    <gcAllowVeryLargeObjects enabled="true" />

    <!--For apps running under the .NET Framework 4.6.2
        <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"/>-->
  </runtime>

  <system.diagnostics>
    <switches>
      <add name="ExtendedTraceValue" value="true" />
      <add name="UseEnvironmentWatch" value="false" />
    </switches>
  </system.diagnostics>
  
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
    <connectionManagement>
      <remove address="*" />
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>

</configuration>