<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      keepVariablesOnReload="true"
      autoReload="true"
      throwExceptions="false" >

    <variable name="logDir"
              value="${specialfolder:folder=LocalApplicationData}/Gagnavarslan/CoreData Desktop v5"/>

    <targets>
        <default-wrapper xsi:type="AsyncWrapper"
                         overflowAction="Block"
                         timeToSleepBetweenBatches="0" />
        
        <default-target-parameters xsi:type="File"
                                   cleanupFileName="false"
                                   encoding="utf-8"
                                   lineEnding="Default"
                                   concurrentWrites="false"
                                   keepFileOpen="true"
                                   openFileCacheTimeout="30" />
        <!--archiveNumbering="Rolling"-->

        <target name="console"
                xsi:type="ColoredConsole"
                layout="[${time}-${level:upperCase=true}] ${message}" />

        <!--fileName="${var:logDir}/${var:desktopFilename}.log"
        archiveFileName="${var:logDir}/${shortdate} ${var:desktopFilename}.log"-->
        <!--<target name="desktopFile"
                xsi:type="File"
                layout="${longdate}|${level:upperCase=true}|${mdlc:item=AsyncTrace}-${logger}|${message}${exception:format=tostring}"
                fileName="${var:logDir}/Desktop ${cached:${date:format=yyyy-MM-dd HH_mm_ss}}.log"
                archiveFileName="${var:logDir}/Desktop {#}.log"
                archiveDateFormat="yyyy-MM-dd HH_mm_ss"
                archiveNumbering="Date"
                archiveEvery="Day"
                maxArchiveFiles="10" >
            <header xsi:type="JsonLayout" includeAllProperties="true">
                <attribute name="started" layout="${longdate}" />
                <attribute name="user" layout="${windows-identity}" />
                <attribute name="machine" layout="${machinename}" />
                <attribute name="pid" layout="${processid}" />
                <attribute name="process" layout="${processname:fullName=true}" />
                <attribute name="sessionid" layout="${processinfo:property=SessionId}" />
            </header>
            --><!--header="${longdate}|Info|Startup|User=${windows-identity}; PC=${machinename}; Process[pid-${processid} sid-${processinfo:property=SessionId} ${processname:fullName=true}]"--><!--
        </target>-->
        <target name="desktopFile"
                xsi:type="File"
                layout="${longdate}|${level:upperCase=true}|${mdlc:item=AsyncTrace}-${logger}|[${callsite:includeSourcePath=False}]${message}${exception:format=tostring}"
                fileName="${var:logDir}/Desktop ${cached:${date:format=yyyy-MM-dd HH_mm_ss}}.log"
                archiveFileName="${var:logDir}/Desktop {#}.log"
                archiveDateFormat="yyyy-MM-dd HH_mm_ss"
                archiveNumbering="Date"
                archiveEvery="Day"
                maxArchiveFiles="10" >
            <header xsi:type="JsonLayout" includeAllProperties="true">
                <attribute name="started" layout="${longdate}" />
                <attribute name="env" layout="${environment:PROCESSOR_ARCHITECTURE}" />
                <attribute name="os" layout="${environment:OSVersion}" />
                <attribute name="version" layout="${environment:Version}" />
                <attribute name="machine" layout="${machinename}" />
                <attribute name="user" layout="${windows-identity}(${identity})" />
                <attribute name="pid" layout="${processid}" />
                <attribute name="process" layout="${processname:fullName=true}" />
                <attribute name="sessionid" layout="${processinfo:property=SessionId}" />
            </header>
        </target>
<!--https://nlog-project.org/config/?tab=layout-renderers-->
    </targets>

    <rules>
        <logger name="*"
                minlevel="Debug"
                writeTo="console" />

        <logger name="*"
                minlevel="Info"
                writeTo="desktopFile">
            <!--<filters>
                <whenContains substring="CoreData.Desktop.Server" action="Ignore" />
            </filters>-->
        </logger>
    </rules>

</nlog>
<!--https://github.com/NLog/NLog/wiki/Examples-->
