 

.primary-background{
    background: #696969;
}

.primary-foreground{
    color: #696969;
}

.secondary-background{
    background: #F58026;
}

.secondary-foreground{
    color: #F58026;
}

